.search-form{
    padding-bottom: 30px;
    padding-top: 60px;
}


.search-field {
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    height: 40px;
    font-size: 22px;
    padding-left: 15px;
}